.book-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto;

    background-color: #f9f9f9; /* Светлый серый фон */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.book-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    margin-bottom: 20px;
    background-color: #fff; /* Белый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-info {
    flex: 1;
    margin-right: 20px;
}

    .book-info h1 {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333; /* Цвет текста заголовка */
    }

    .book-info p {
        margin: 15px 0;
        line-height: 1.5;
    }

.book-image {
    max-width: 300px;
    margin-top: 0px;
    flex: 0 0 250px;
    align-self: flex-end;
    margin-right: 20px;
}

    .book-image img {
        width: auto;
        height: 300px;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

.book-description {
    margin-top: 0px;
    background-color: #fff; /* Белый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
}

    .book-description p {
        margin: 10px 0;
    }

.download-links {
    margin-top: 20px;
    background-color: #f0f0f0; /* Фон блока с ссылками на скачивание */
    padding: 10px;
    border-radius: 8px;
}

    .download-links p {
        margin-bottom: 10px;
        margin-top: 0px;
        font-weight: bold; /* Жирный шрифт для заголовка "Скачать" */
    }

    .download-links a {
        display: block;
        margin-top: 5px;
        padding: 8px 10px;
        border: 1px solid #007BFF;
        border-radius: 4px;
        color: #007BFF;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .download-links a:hover {
            background-color: #007BFF;
            color: #fff;
        }

.not-found-message {
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 50px; /* Верхний отступ от header */
    font-size: 32px; /* Размер шрифта */
    color: #000; /* Цвет текста */
}

/*Кнопки*/
.update-button,
.delete-button {
    display: block;
    margin-bottom: 10px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.update-button {
    background-color: #28a745;
}

    .update-button:hover {
        background-color: #218838;
    }

.delete-button {
    background-color: #dc3545; /* Красный цвет для кнопки "Удалить" */
}

    .delete-button:hover {
        background-color: #c82333;
    }

.book-actions {
    float: left;
    margin-right: 20px;
}




.comments {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #fff; /* Белый фон для комментариев */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word; /* Перенос текста */
}

    .comments h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top: 0px;
        color: #333; /* Цвет текста заголовка */
        margin-left: 5px;
    }

.add-comment {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9; /* Светлый фон для формы добавления комментария */
    margin-bottom: 20px;
}

    .add-comment h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .add-comment textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: vertical;
        margin-bottom: 10px;
    }

    .add-comment button {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

        .add-comment button:hover {
            background-color: #0056b3;
        }

.comment {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9; /* Светлый фон для комментария */
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Отступы между элементами в заголовке */
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
}

.date {
    font-size: 0.9em;
    color: #666;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 5px; /* Отступы между кнопками */
}

.comment-content {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.comment-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0; /* Удаление нижнего отступа */
}

.edit-button {
    background-color: #ffc107;
    color: #212529;
}

    .edit-button:hover {
        background-color: #e0a800;
    }

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

    .delete-button:hover {
        background-color: #c82333;
    }

#error-message {
    display: none;
    color: red;
    margin-bottom: 10px;
}


.rating-form label {
    font-weight: bold;
    margin: 15px 0;
    line-height: 1.5;
}

    .rating-form input[type="number"] {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100px; /* Ширина поля ввода */
        font-size: 1em;
    }

    .rating-form button {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px; /* Отступ сверху */
        transition: background-color 0.3s ease;
    }

        .rating-form button:hover {
            background-color: #0056b3;
        }