@model BookAddRequest;

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Название книги:</label>
        <input type="text" class="form-control" id="title" value="@Model?.Title" name="Title">
    </div>
    <div class="form-group">
        <label for="authorFirstName">Автор:</label>
        <input type="text" class="form-control" id="authorFirstName" value="@Model?.Author" name="Author">
    </div>
    <div class="form-group">
        <label for="genre">Жанр:</label>
        <input type="text" class="form-control" id="genre" value="@Model?.Genre" name="Genre">
    </div>
    <div class="form-group">
        <label for="description">Описание:</label>
        <textarea class="form-control" id="description" value="@Model?.Description" name="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="picture">Картинка:</label>
        <input type="file" class="form-control-file" id="picture" name="Picture">
    </div>
    <div class="form-group">
        <label for="files">Файлы (PDF/DOCX):</label>
        <input type="file" class="form-control-file" id="files" name="Files" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Добавить книгу</button>
</form>

<div class="text-danger">
    @if (ViewBag.Errors != null)
    {
        foreach (var error in ViewBag.Errors)
        {
            <p>@error</p>
        }
    }
</div>