@section Head {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="welcome-container">
    <h1>Welcome to the Library</h1>
    <div class="button-row">
        <div class="button-group">
            <a href="/books" class="btn primary-btn">Book Catalog</a>
            <a href="/books/add" class="btn secondary-btn">Add<br>Book</a>
        </div>
        <div class="button-group">
            <a href="/authors" class="btn primary-btn">Author Catalog</a>
            <a href="/authors/add" class="btn secondary-btn">Add<br>Author</a>
        </div>
    </div>
</div>
