@section Head {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="welcome-container">
    <h1>Добро пожаловать в библиотеку</h1>
    <div class="button-row">
        <div class="button-group">
            <a href="/books" class="btn primary-btn">Каталог книг</a>
            <a href="/books/add" class="btn secondary-btn">Добавить<br>книгу</a>
        </div>
        <div class="button-group">
            <a href="/authors" class="btn primary-btn">Каталог авторов</a>
            <a href="/authors/add" class="btn secondary-btn">Добавить<br>автора</a>
        </div>
    </div>
</div>
