<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@(ViewBag.Title != null ? ViewBag.Title : "Library")</title>
	<link href="~/css/header.css" rel="stylesheet" />
	@RenderSection("Head", false)
</head>
<body>
	<header>
		<div class="container">
			<div class="header-left">
				<a href="/" class="logo">Library</a>
			</div>
			<div class="header-right">
				<a href="/">Home</a>
				<a href="/books">Book Catalog</a>
				<form action="/books" method="get" class="search-form-header">
					<input type="text" name="bookTitle" placeholder="Find a book">
					<button type="submit">Search</button>
				</form>
				@if (User.Identity.IsAuthenticated)
				{
					<a href="/account">Profile</a>
					<a href="/account/logout">Logout</a>
				}
				else
				{
					<a href="/account/login" id="login-link">Login</a>
					<a href="/account/registration">Register</a>
				}
			</div>
		</div>
	</header>

	<div class="content">
		@RenderBody()
	</div>

	<footer>
		<div class="footer-container">
			<div class="footer-column">
				<p class="footer-title">Contacts:</p>
				<ul>
					<li>Email: <a >info@library.com</a></li>
					<li>Telegram: <a >t.me/</a></li>
					<li>VK: <a >vk.com/</a></li>
					<li>Phone: <a href="tel:+123456789">+1 (234) 567-89</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<p class="footer-title">Site Information:</p>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/rules">Site Rules</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<p class="footer-title">Technical Support:</p>
				<ul>
					<li>Support email for users:</li>
					<li><a href="mailto:support@library.com">support@library.com</a></li>
				</ul>
			</div>
		</div>
	</footer>

	@RenderSection("Script", false)

</body>
</html>
