@model LoginDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Head {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="login-form" id="login-form">
    <h2>Вход</h2>
    <form asp-action="Login" method="post" class="login-form">
        <label for="email">Почта:</label>
        <input type="email" id="email" name="Email" value="@Model?.Email" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="Password" required>

        <button type="submit">Войти</button>
    </form>

    @if (ViewBag.Errors != null)
    {
        <div class="error-container">

            @foreach (var error in ViewBag.Errors)
            {
                <p class="error-message">@error</p>
            }

        </div>
    }
</div>
