@section Head {
    <link rel="stylesheet" href="~/css/account/updateData.css" />
}

<div class="update-data-form" id="update-data-form">
    <h2>Обновить данные</h2>
    @if (ViewBag.Errors != null)
    {
        <div class="error-container">
            @foreach (var error in ViewBag.Errors)
            {
                <p class="error-message">@error</p>
            }
        </div>
    }
    <form asp-action="UpdatePassword" method="post">
        <label>Old password:</label>
        <input type="password" name="OldPassword" required>

        <label>New password:</label>
        <input type="password" name="NewPassword" required>

        <label>Confirm password:</label>
        <input type="password" name="ConfirmPassword" required>
        
        <button type="submit">Обновить</button>
    </form>
</div>